body{
	background-image: url("Images/jp-theme/seamless-white-bg.jpg");
	background-repeat: repeat;
}
table{
	background-image: url("Images/jp-theme/seamless-bg.jpg");
	background-repeat: repeat;
}
td{
	background-image: url("Images/jp-theme/tile-front-bg.png");
}
button{
	background-color: #4C8C50;
}
button:hover{
	background-color: #3C6C40
}
button:active{
	background-color: #3C6C40;
}
select{
	color:#FFFFFF;
	background: #4C8C50;
}
