img.Tile{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    user-select: none;
    user-drag: none; 
    -webkit-user-select: none;
    -webkit-user-drag: none;
	-ms-user-select: none;
	max-width: 125px;
    max-height: 125px;
}
td{
    background-size: 125px 125px;
    background-repeat: no-repeat;
	width: 125px;
    height: 125px;
}
th, td{
	border: 8px solid transparent;
}
div#MainDiv{
	float: none;
	overflow:auto;
	display: inline-block;
	border: 1px solid #444444;
	padding: 10px;	
}
div#PlayAreaDiv{
	display: table-cell;
}
div#SideBarDiv{
	padding: 10px;	
	border: 1px solid #444444;
}
label{
	font-weight: bold;
}
select{
	margin-bottom: 2px;
	margin-top: 2px;
	margin-left: 5px;
	font-weight: bold;
}
button{
	display: inline-block;
	padding: 10px 15px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px #999;
	margin-bottom: 5px;
	margin-top: 5px;
}
button:active{
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
@media screen and (orientation: landscape){
	div#SideBarDiv{
		display: table-cell;
		vertical-align:top;
	}
}
@media screen and (orientation: portrait){}